

<div class="text-center">
    <h1 class="display-4">Soy Maggie</h1>
    <h2>
        Soy desarrolladora full stack especializada en tecnologias .NET
    </h2>
    <img id="foto"
         src="~/img/maggie.jpeg" alt="Foto de Maggie"  />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/img/net.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi portafolio
        </h1>
        <p>
            Tengo conocimientos de C#, SQL Server, HTML, CSS, Bootstrap

        </p>
    </div>
</div>